url path encoding

"For purposes of readability, examples are not URL encoded. Implementers MUST percent-encode URLs as described in Section 2.1 of [RFC3986]"
https://tools.ietf.org/html/rfc7644#section-1.2