path encoding

Percent-encode URLs as described in Section 2.1 of [RFC3986](https://tools.ietf.org/html/rfc3986#section-2.1).

Not relevant anymore.